.App {
  font-family: "Space Grotesk", sans-serif;
}

.bg-front {
  background-image: url("../src/assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  @apply absolute -translate-x-5 md:translate-x-36 transition-all translate-y-[100px] lg:translate-y-0 lg:static w-[300px] lg:w-[400px] lg:h-[220px] text-white p-[20px] lg:translate-x-[80px] xl:translate-x-[100px] 2xl:translate-x-[200px] my-6 ;
}
.bg-back {
  background-image: url("../src/assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  @apply w-[300px] lg:w-[400px] h-[165px] lg:h-[220px] transition-all text-white p-[20px] lg:translate-x-[120px] xl:translate-x-[150px] 2xl:translate-x-[250px] flex justify-end items-center;
}
.card-display {
  background-image: url("../src/assets/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  @apply col-span-3 lg:col-span-1 lg:h-screen flex items-center justify-center flex-col relative md:static p-6 lg:p-0;
}
.form-display{
  @apply col-span-3 lg:col-span-2 lg:h-screen translate-y-[78px] flex justify-center items-center px-4 my-3 md:px-0 md:my-0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
