.App {
  font-family: "Space Grotesk", sans-serif;
}

.bg-front {
  background-image: url("../src/assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  @apply absolute -translate-x-5 md:translate-x-36 transition-all translate-y-[100px] lg:translate-y-0 lg:static w-[300px] lg:w-[400px] lg:h-[220px] text-white p-[20px] lg:translate-x-[80px] xl:translate-x-[100px] 2xl:translate-x-[200px] my-6 ;
}
.bg-back {
  background-image: url("../src/assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  @apply w-[300px] lg:w-[400px] h-[165px] lg:h-[220px] transition-all text-white p-[20px] lg:translate-x-[120px] xl:translate-x-[150px] 2xl:translate-x-[250px] flex justify-end items-center;
}
.card-display {
  background-image: url("../src/assets/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
